<script>
$('.userz table').tablesorter({
   widgets: ['zebra'],
   widgetZebra: {css: ["NormRow","AltRow"]} // css classes to apply to rows
});
</script>

<table class='tip-top'>
  <tr>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
    <td><h1>Ruby Talk Tips Users</h1></td>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
  </tr>
</table>
<br/>


<div class='userz'>
  <table>
    <thead>
      <tr>
        <th align="left"><%= sortable "firstname", "Firstname" %></th>
        <th align="left"><%= sortable "lastname", "Lastname" %></th>
        <th align="left"><%= sortable "email", "Email" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr class="<%= cycle('NormRow', 'AltRow') %>">
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td class='e-mail'><%= user.email %></td>
          <td class='sed'>&nbsp;&nbsp;<%= link_to 'Show', user %>&nbsp;&nbsp;<%= link_to 'Edit', edit_user_path(user) %>&nbsp;&nbsp;<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- end div:userz -->

<table class='foot-buttons'>
  <tr>
    <td align='right'><%= button_to 'New User',  new_user_path, {:class => "buttonTo", :method => "get"} %></td>
    <td><%= button_to 'Tips', tips_path, {:class => "buttonTo", :method => "get"} %></td>
    <td><%= button_to 'About', root_path, {:class => "buttonTo", :method => "get"} %></td>
  </tr>
</table>

