<table class='tip-top'>
  <tr>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
    <td><h1>User Registration</h1></td>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
  </tr>
</table>
<br/>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table>
      <tr>
        <div class="field">
        <td class='reddy1'><%= f.label :firstname, "Firstname:" %></td><td><%= f.text_field :firstname, size: 40, autofocus: true %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="reddy1"><%= f.label :lastname, "Lastname:" %></td><td><%= f.text_field :lastname, size: 40 %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td class="reddy1"><%= f.label :email, "Email:" %></td><td><%= f.text_field :email, size: 40 %></td>
        </div>
      </tr>
        <div class="field">
          <td class="reddy1"><%= f.label :password, "Password:" %></td><td><%= f.password_field :password, size: 40 %></td>
        </div>
      </tr>
      <tr>
        <div>
          <td class="reddy1"><%= f.label :password_confirmation, "Confirm Password:" %></td><td><%= f.password_field :password_confirmation, size: 40 %></td>
        </div>
      </tr>
    </table>
  <br/>
  <div class="actions">
    <td> <%= f.submit %>
  </div>

<% end %>
  <table class='foot-buttons'>
    <tr>
      <% if !current_user %>
      <% else %>
      <% end %>
        <td><%= button_to 'Tips', tips_path, {:class => "buttonTo", :method => "get"} %></td>
        <td><%= button_to 'About', root_path, {:class => "buttonTo", :method => "get"} %></td>
        <td><%= button_to 'Privacy', policy_page_path, {:class => "buttonTo", :method => "get"} %></td>
  </tr>
  </table>
<br/>
