    <nav>
      <p>
        <% if current_user %>
        <% end %>
      </p>
    </nav>


<table class='tip-top'>
  <tr>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
    <td><h1>Ruby Talk Tips Users</h1></td>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
  </tr>
</table>

<div class='uzer-show'>

  <table>
    <tr><td class="reddy1"width="36%">Firstname:</td><td><%= @user.firstname %></td></tr>
    <tr><td class="reddy1">Lastname:</td><td><%= @user.lastname %></td></tr>
    <tr><td class="reddy1">Email:</td><td><%= @user.email %></td></tr>
    <tr><td class="reddy1"></td><td></td></tr>
  </table>

</div> <!-- end div:uzer-show -->

  <table class='foot-buttons'>
    <tr>
      <% if !current_user %>
        <td><%= button_to 'Register', signup_path, {:class => "buttonTo", :method => "get"} %></td>
        <td><%= button_to 'Sign In', new_session_path, {:class => "buttonTo", :method => "get"} %></td>
      <% else %>
        <td><%= button_to 'Edit User', edit_user_path(@user), {:class => "buttonTo", :method => "get"} %></td>
        <td><%= button_to 'Users', users_path, {:class => "buttonTo", :method => "get"} %></td>
        <td><%= button_to "Tips",  tips_path, {:class => "buttonTo", :method => "get"} %></td>
        <td><%= button_to "Sign Out", session_path, data: { method: :delete, confirm: "Sign out #{@user.firstname} #{@user.lastname}?"} %></td>
        <td><%= button_to 'Delete', @user, :method => "delete", data: { confirm: "Delete user: #{@user.firstname} #{@user.lastname}?"} %></td>
     <% end %>
 </tr>
  </table>

