<!-- Form page for Tip model-->
<!-- Only users who are SIGNED IN should be able to access this page -->
<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
<br/>
<table>
  <tr>
    <td class='reddy1'>
      <div class="field"><b><%= f.label 'Subject:' %></b></td><td><%= f.text_field :subject %></td></div>
    <td class='reddy1'>
      <div class="field"><b><%= f.label 'Keywords:' %></b></td><td width='66'><%= f.text_field :category %></div>
    </td>
  </tr>
  <tr>
    <td class='reddy1'>
      <div class="field"><b><%= f.label 'Source:' %></b></td><td><%= f.text_field :source %></td></div>
    <td class='reddy1'>
      <div class="field"><b><%= f.label 'Type:' %></b></td><td><%= f.text_field :rubytype %></div>
    </td>
  </tr>
  <tr>
    <td class='reddy2'>
      <div class="field"><b><%= f.label 'Tip:' %></b></div>
    </td>
    <td colspan='3'><%= f.text_area(:tip, :size => "102x18") %></td>
  </tr>
  <tr>
    <td class='reddy1'>
      <div class="field"><b><%= f.label 'Email:' %></b></td><td><%= f.text_field :email %></div>
    </td>
    <td class='reddy1'>
      <div class="field"><b><%= f.label 'Applies to:' %></b></td><td><%= f.text_field :applies_to %></div>
    </td>
  </tr>
  <% if current_user_admin? %>
    <tr>
      <td class='reddy1'>
        <div class="field"><b><%= f.label 'Posted:' %></b></td><td><%= f.datetime_select :posted %></div>
      </td>
      <td class='reddy1'>
        <div class="field"><b>Reference:</b></td><td><%= f.text_field :xmail %></duv>
      </td>
    </tr>
    <tr>
      <td class='reddy1'>
        <div class="field"><b>User_id:</b></td><td><%= f.text_field :user_id %></div>
      </td>
    </tr> 
  <% else %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
</table>
<br />
<table class='foot-buttons'>
  <tr>
    <div class="actions">
      <td><%= f.submit %></td>
      <% end %>
      <td><%= button_to "Tips",  tips_path, {:class => 'buttonTo', :method => :get} %></td>
      <td><%= button_to 'About', about_page_path, {:class => 'buttonTo', :method => :get} %></td>
      <td><%= button_to 'Privacy',  policy_page_path, {:class => 'buttonTo', :method => :get} %></td>
      <% if current_user %>
        <td><%= button_to 'Sign Out', session_path, {class: 'buttonTo', method: :delete } %></td>
      <% else %>
        <td><%= button_to "Sign In",  new_session_path, { class: 'buttonTo', method: :get} %>
      <% end %>
   </div>
  </tr>
</table>

