<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr>
  <td>
  <div class="field">
    <b><%= f.label 'Subject:' %></b></td><td><%= f.text_field :subject %></td>
  </div>
  <td>
  <div class="field"><b><%= f.label 'Keywords:' %></b></td><td width='66'><%= f.text_field :category %></td>
</tr>
<tr>
  <td>
  <div class="field"><b><%= f.label 'Source:' %></b></td><td><%= f.text_field :source %></td>
  </div>
  <td>
  <div class="field"><b><%= f.label 'Type:' %></b></td><td><%= f.text_field :rubytype %></td>
</tr>
<tr>
  <td>
  <div class="field"><b><%= f.label 'Tip:' %></b></td>
  </div>
  <td colspan='3'><%= f.text_area(:tip, :size => "102x12") %></td>
</tr>
<tr>
  <div class="field">
  <td><div class="field"><b><%= f.label 'Email:' %></b></td><td><%= f.text_field :email %></td>
  </div>
  <td><div class="field"><b><%= f.label 'Applies to:' %></b></td><td><%= f.text_field :applies_to %></td>
  </div>
</tr>
<tr>
  <td><div class="field"><b><%= f.label 'Posted:' %></b></td><td><%= f.datetime_select :posted %></td>
  <td><div class="field"><b>Reference:</b></td><td><%= f.text_field :xmail %></td>
</tr>
<tr>
  <div class="field">
  <td><div class="field"><b><%= f.label 'Firstname:' %></b></td><td><%= f.text_field :firstname %></td>
  </div>
  <td><div class="field"><b><%= f.label 'Lastname:' %></b></td><td><%= f.text_field :lastname %></td>
  </div>
</tr>
<tr> 
</table>
<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
