<center>
<% require 'obfuscate' %>
<table class='tip-top'><tr><td><img src='/assets/ruby.png' width='15 height='15>
<td><h1>Ruby Tip</h1></td>

<td><img src='/assets/ruby.png' width='15 height='15></td>
</tr>
</table>
<p id="notice"><%= notice %></p>

<table>
<tr>
  <td><b>Type:</b></td><td><%= @tip.rubytype %></td>
  <td><b>Subject:</b></td><td><%= @tip.subject %></td>
</tr>
<tr>
  <td><b>Applies to:</b></td><td><%= @tip.applies_to %></td>
  <td><b>Keywords:</b></td><td><%= @tip.category %></td>
</tr>
<tr>
<tr>
  <td><b>Tip:</b></td><td></td><td></td><td></td>
</tr>
<!--  <td class='tip' colspan='4'><code>< % = @tip.tip.html_safe %></code></td> -->
 <td class='tip' colspan='4'><code><%= raw @tip.tip %></code></td>
</tr>
<tr>
  <td><b>Email:</b></td>
  <td><%= obscure_email(@tip.email).html_safe %></td>
  <td><b>Refers to:</b></td>
  <% if(@tip.xmail == nil) %>
     <td>unknown</td>
  <% else %>
    <% msg ='http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-talk/' + @tip.xmail %> 
    <td><a href='<%= msg %>'><%= @tip.xmail %></a></td>
  <% end %>
</tr>
</table>
<div class='privacy'>
<table>
  <tr>
<!--    <td>< % = button_to 'Edit', edit_tip_path(@tip), {:class => "buttonTo", :method => "get"} %></td> -->
    <td><%= button_to "Tips",  tips_path, {:class => "buttonTo", :method => "get"} %></td>
<!--    <td>< % = button_to 'Privacy', page_path("policy"), {:class => "buttonTo", :method => "get"} %></td> -->
    <td><%= button_to 'About', page_path("about"), {:class => "buttonTo", :method => "get"} %></td>
  </tr>
</table> 
</div>
</center>

