<center>
<% require 'obfuscate' %>
<table class='tip-top'><tr><td><img src='/assets/ruby.png' width='15 height='15>
<td><h1>Ruby Tip</h1></td>

<td><img src='/assets/ruby.png' width='15 height='15></td>
</tr>
</table>
<p id="notice"><%= notice %></p>

<table>
<tr>
  <td><b>Type:</b></td><td><%= @tip.rubytype %></td>
  <td><b>Subject:</b></td><td><%= @tip.subject %></td>
</tr>
<tr>
  <td><b>Applies to:</b></td><td><%= @tip.applies_to %></td>
  <td><b>Keywords:</b></td><td><%= @tip.category %></td>
</tr>
<tr>
<tr>
  <td><b>Tip:</b></td><td></td><td></td><td></td>
</tr>
  <td class='tip' colspan='4'><code><%= @tip.tip.html_safe %></code></td>
</tr>
<tr>
  <td><b>Email:</b></td>
  <td colspan='3'><%= obscure_email(@tip.email).html_safe %> </td>
</tr>
</table>
<div class='privacy'>
<table>
  <tr>
    <td><%= button_to 'Edit', edit_tip_path(@tip), {:class => "buttonTo", :method => "get"} %></td>
    <td><%= button_to "Tips",  tips_path, {:class => "buttonTo", :method => "get"} %></td>
    <td><%= button_to 'Policy', page_path("policy"), {:class => "buttonTo", :method => "get"} %></td>
    <td><%= button_to 'About', page_path("about"), {:class => "buttonTo", :method => "get"} %></td>
  </tr>
</table> 
</div>
</center>

