<!-- Show page for Tip model-->
<center>
<% require 'obfuscate' %>
<table class='tip-top'><tr><td><img src='/assets/ruby.png' width='15 height='15>
<td><h1>Ruby Talk Tip</h1></td>

<td><img src='/assets/ruby.png' width='15 height='15></td>
</tr>
</table>
<!-- <p id="notice">< % = notice %></p> -->

<table class='redback'>
<tr>
  <td class='reddy1'><b>Type:</b></td><td class='reddy'><%= @tip.rubytype %></td>
  <td class='reddy1'><b>Subject:</b></td><td class='reddy'><%= @tip.subject %></td>
</tr>
<tr>
  <td class='reddy1'><b>Applies to:</b></td><td class='reddy'><%= @tip.applies_to %></td>
  <td class='reddy1'><b>Keywords:</b></td><td class='reddy'><%= @tip.category %></td>
</tr>
<!-- <tr></tr> -->
<tr>
  <td class='reddy3' colspan='4'><b>Tip:</b></td>
</tr>
<tr>
 <td class='tip' colspan='4'><code><%= @tip.tip.html_safe %></code></td>
</tr>
<tr>
  <td class='reddy1'><b>Email:</b></td>
  <td class='reddy'><%= obscure_email(@tip.email).html_safe %></td>
  <td class='reddy1'><b>Source:</b></td>
  <% if(@tip.xmail == nil) %>
     <td class='reddy'>unknown</td>
  <% else %>
    <% msg ='http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-talk/' + @tip.xmail %> 
    <td class='reddy'><a href='<%= msg %>'><%= @tip.xmail %></a></td>
  <% end %>
</tr>
</table>
<!-- <div class='privacy'> -->
</div>
<br/>
<table>
  <tr>
  <!-- current_user must be signed in and own this tip -->
  <!-- or be an admin to allow these buttons           -->
  <td><%= button_to "Tips",  tips_path,                     { class: 'buttonTo', method: :get } %></td>
    <% if(( current_user && (current_user[:id] == @tip[:user_id])) || current_user_admin? ) %>
      <td><%= button_to 'Edit',        edit_tip_path(@tip), { class: 'buttonTo', method: :get } %></td>
      <!-- Only admins can delete tips --> 
      <% if current_user_admin? %>
        <td><%= button_to 'Delete',    tip_path,           { class: 'buttonTo', method: :delete, data: { confirm: "Delete this tip?"} } %></td>
      <% end %>
    <% else %>
      <% if current_user %>
        <td><%= button_to 'Sign Out',  session_path,        { class: 'buttonTo', method: :delete } %></td>
      <% else %>
         <td><%= button_to "Sign In",  new_session_path,    { class: 'buttonTo', method: :get } %></td>
         <td><%= button_to "Register", signup_path,         { class: 'buttonTo', method: :get } %></td>
     <% end %>
    <% end %>
    <td><%= button_to 'About',         about_page_path,     { class: 'buttonTo', method: :get } %></td>
    <td><%= button_to 'Privacy',       policy_page_path,    { class: 'buttonTo', method: :get } %></td>
</tr>
</table> 
</center>

